body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 140px;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header h1 {
  color: yellow; 
}


.navbar {
  display: flex;
  justify-content: center;
  background-color: #4CAF50;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 99.59px; 
  left: 0;
  z-index: 999;
  align-items: center; 
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #45a049;
}

h2 {
  color: #333;
  text-align: center;
}

.auth-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007BFF;
}

.account-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
}
